# Gmsh Data
*.geo
*.msh
netgen.prof

# AutoCAD Data
*.scr
*.dxf
*.dwg

# Inkscape Data
*.svg

# Excel Data
*.csv

# ElmerFEM Data
*.xml
*.sif
mesh.boundary
mesh.elements
mesh.header
mesh.nodes

# OS Scripts
*.bat
*.sh

# .ipynb_checkpoints
.ipynb_checkpoints/
